[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fabric = "*"
patchwork = "*"
ovh = "*"
PyGithub = "*"
invoke = "*"
invocations = "*"
pyyaml = "*"
pymysql = "*"
pydantic = "*"
giturlparse = {git = "https://github.com/lejenome/giturlparse",editable = true,ref = "master"}
mypy = "*"
types-pyyaml = "*"
lxml = "*"
ansible = "*"
paramiko = "*"

[dev-packages]

[requires]
python_version = "3.9"
