dns_ovh_endpoint = {{ config.ovh.endpoint }}
dns_ovh_application_key = {{ config.ovh.application_key }}
dns_ovh_application_secret = {{ config.ovh.application_secret }}
dns_ovh_consumer_key = {{ config.ovh.consumer_key }}
