dns_ovh_endpoint = {{ conf.ovh.endpoint }}
dns_ovh_application_key = {{ conf.ovh.application_key }}
dns_ovh_application_secret = {{ conf.ovh.application_secret }}
dns_ovh_consumer_key = {{ conf.ovh.consumer_key }}
