MINIO_VOLUMES="{{ dirs.server.data }}/minio/"
MINIO_OPTS="--address :9000"
MINIO_ROOT_PASSWORD="{{ storage.minio.root_password }}"
MINIO_ROOT_USER="{{ storage.minio.root_user }}"
# MINIO_REGION_NAME=""
# MINIO_REGION_COMMENT=""
MINIO_BROWSER=off
