# vim: set filetype=dosini:

APP_VAR_DIR={{app.project.var_slink}}
APP_WWW_DIR={{app.project.www_dir}}
APP_TMP_DIR={{app.project.tmp_dir}}
APP_SRC_DIR={{app.project.src_dir}}

API_BASE_URL_DEV=http://localhost:8000
API_BASE_URL=
MAINTENANCE_MODE=
API_PREFIX=/api/
FB_APP_ID=
MAINTENANCE_TOKEN=earlyaccess
DEFAULT_CURRENCY=TND
PAYMENT_PROVIDERS=smt,coupon,wiretransfer
CACHE_PREFIX=tikcache
BASE_URL='https://{{ app.domain }}/'
EMAIL=
DISPLAY_NAME=
SHORT_NAME=
DESCRIPTION=
ACCOUNT_EMAIL_VALIDATION=
PIWIK_SITE_ID=21
DEFAULT_LOCALE=fr-FR
LOCALES=en-US,fr-FR
FB_PIXEL_ID=

WIRETRANSFER_BANK=
WIRETRANSFER_ADDRESS=
WIRETRANSFER_OWNER=
WIRETRANSFER_RIB=
WIRETRANSFER_IBAN=
WIRETRANSFER_BIC=

MANDAT_OWNER=
MANDAT_CCP=
CONF_MODULES=
CONF_DELIVERY_BACKENDS=aramex

INVOICE_NAME=
INVOICE_DESCRIPTION=
INVOICE_PHONE1=
INVOICE_PHONE2=
INVOICE_EMAIL=
INVOICE_ADDRESS=
INVOICE_MF=
